@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url(https://unpkg.com/css-peeps@1/css-peeps.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.avatar {
  --peep-head: flat-top1;
  --peep-face: calm;
  --peep-body: tee2;

  --peep-hat-color: #FC03C2;
  --peep-hair-color: #7300E6;
  --peep-skin-color: #ffdbc4;
  --peep-accessory-color: #000;
  --peep-facial-hair-color: #ffd700;
  --peep-object-color: #ffa500;
  --peep-clothes-color: #ff0000;

  --peep-body-offset-x: -10px;
  --peep-body-offset-y: 4px;
}

.avatar2 {
  --peep-head: flat-top1;
  --peep-face: suspicious;
  --peep-body: tee-crossed;

  --peep-hat-color: #FC03C2;
  --peep-hair-color: #7300E6;
  --peep-skin-color: #ffdbc4;
  --peep-accessory-color: #000;
  --peep-facial-hair-color: #ffd700;
  --peep-object-color: #ffa500;
  --peep-clothes-color: #ff0000;

  --peep-body-offset-x: -10px;
  --peep-body-offset-y: 4px;
}

.content-div {
  width: 100%; /* ajusta la altura según sea necesario */
  background-size: cover; /* ajusta la imagen para cubrir todo el contenedor */
}
 
.content-div:hover {
  background-image: linear-gradient(
    to right,
    #0F172A,
    #083a9e
  )!important
}

.cLogo:hover { filter: drop-shadow(0 0 2em #646cffaa) }
.reactLogo:hover { filter: drop-shadow(0 0 2em #61dafb) }
.htmlLogo:hover { filter: drop-shadow(0 0 2em #f8b16ec0) }
.cssLogo:hover { filter: drop-shadow(0 0 2em #617dfbaa) }
.jsLogo:hover { filter: drop-shadow(0 0 2em #fbec61aa) }
.nodeLogo:hover { filter: drop-shadow(0 0 2em #61fb82aa) }
.githubLogo:hover { filter: drop-shadow(0 0 2em #e9e9e9aa) }
.mysqlLogo:hover { filter: drop-shadow(0 0 2em #61dafbaa) }
.javaLogo:hover { filter: drop-shadow(0 0 25px white) }
.tailwindLogo:hover { filter: drop-shadow(0 0 2em #48d7ff) }

nav .isActive {
  color: #67EEF9 !important
}